
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
    width: 100vw;
 height: 100vh;
 background-color: whitesmoke;
 overflow: show;
}

#topbar{width: 100%; height: 60px; background-color: whitesmoke; position: fixed;}

.header {
  text-align: center;
  padding: 32px;
}

a {
  color: #000;
    text-decoration: none;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

/* Top left text */
    
.top-left {
  position: fixed;
  top: 22px;
  left: 40px;
    color: black;
    font-size: 20px;
}
p{
   margin: 0 auto;
  padding-top: 0.5em;
    padding-left: 0em;
  width: 100%;
    max-width: 900px; 
}

.p2{
   margin: 0 auto;
  padding-top: 0.5em;
    padding-left: 0em;
  width: 100%;
    max-width: 600px; 
}

.p3{
   margin: 0 auto;
  padding-top: 0.5em;
    padding-left: 0em;
  width: 100%;
    max-width: 600px; 
}


/*.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
    padding: 0 40px;
  
}

/* Create four equal columns that sits next to each other
.column {
  -ms-flex: 25%; /* IE10 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 60px;
    margin-left: 0px;
    margin-right: 0px;
  vertical-align: middle;
  width: 80%;
    padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}*/
    
    img {
        width: 100%;
        background-position: center;
   /*aspect-ratio: 1 / 1;*/
}


.myGallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.myGallery img {
    margin-top: 60px;
  width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
        
        /*.myGallery .item {
  position: relative;
  overflow: hidden;*/
}

.myGallery .item img {
  vertical-align: middle;
}

.myGallery .caption {
  margin: 0;
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 00;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  transition: transform .5s;
  transform: translateY(100%);
  background: rgba(0, 0, 0, .7);
  color: rgb(255, 255, 255);
}

.myGallery .item:hover .caption {
  transform: translateY(0%);
}

.myArt {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.myArt img {
    max-width:600px; padding-left: 155px;
    margin-top: 60px;
  width: 100%;
    /*margin: 0 auto;
    /*object-fit: cover;*/
    aspect-ratio: auto;
}
        
        /*.myGallery .item {
  position: relative;
  overflow: hidden;*/
}

.myArt .item img {
  vertical-align: top;
}

.caption {
  margin: 0 auto;
  padding-top: 0.5em;
    padding-left: 0px;
    padding-bottom: 0.5em;
  width: 100%;
    max-width: 400px;

}

.caption2 {
  margin: 0 auto;
  padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0px;
  width: 100%;
    max-width: 600px;

}

.myArt .item:hover .caption {
  transform: translateY(0%);
}
    
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.pic1
{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 0px;
padding-left: 0px;
    padding-right: 0px;
}

.pic2 { display: block;
    margin: 0 auto;
    height: auto;
    padding-top: 60px;
    padding-right: 0px; padding-left: 5px; padding-bottom: 0.5em; font-family: helvetica; font-size: 16px; width: 100%; max-width: 400px; }
.footer a {text-decoration: none;}
.topper{padding-top: 100px;}


/*body{
 width: 100vw;
 height: 100vh;
 background-color: #212121;
 overflow: hidden;
}*/

#menu{
  position: fixed;
  right: 2rem;
  top: 1rem;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
  z-index: 10;
}

.menu-line1{
  width: 100%;
  height: 2px;
  background: red;
  transition: .6s;
}

.menu-line2{
  width: 80%;
  height: 2px;
  margin-top: .7rem;
  background: red;
  transition: .6s;
}

.rotate{
  transform: rotateZ(180deg)
}
.rotate1{
  background: #212121;
  transform: rotateZ(45deg);
}
.rotate2{
  background: #212121;
  width: 100%;
  transform:  translate(0,-0.8rem) rotateZ(-45deg);
}
.nav-page1{
  position: fixed;
  top:0 ;
  left: 0;
  background: whitesmoke;
  width: 60%;
  height: 70vh;
    line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #212121;
  transform: translate(0,-100%);
  transition: .5s;
    z-index: 1;
}
.nav-page1 span{
  padding: 1rem;
}
.nav-page2{
  position: fixed;
  top:0 ;
  left: 60%;
  background: whitesmoke;
  width: 40%;
  height: 70vh;
  transition: .8s;
  transform: translate(0,-100%);
    z-index: 1;
}

.transform{
  transform: translate(0,0);
}

form { max-width:400px; padding-left: 5px; margin: 0 auto;}

.feedback-input {
  color: steelblue;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
    font
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid steelblue;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  background: steelblue;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover { background: red; }

.data
{margin: 0 auto; padding-left: 5px; padding-bottom: 0.5em; padding-top: 160px; font-family: helvetica; font-size: 16px; width: 100%; max-width: 400px; }


.footer
{margin: 0 auto; padding-left: 5px; padding-bottom: 0.5em; font-family: helvetica; font-size: 16px; width: 100%; max-width: 400px; }
.footer a {text-decoration: none;}

.fling-minislide {width:100%; height:38vh; padding-bottom: 0px; overflow:hidden; position:relative;}
    
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}


@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(6){animation-delay:0s;}
.fling-minislide img:nth-child(5){animation-delay:3s;}
.fling-minislide img:nth-child(4){animation-delay:6s;}
.fling-minislide img:nth-child(3){animation-delay:9s;}
.fling-minislide img:nth-child(2){animation-delay:12s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

.wrap {
    width: auto;
    max-width:400px;
    height: auto;
    margin:0 auto;
    top: 160px;
    /*background: #fff; /* Fills the page */
    
  position: relative;
}


/* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }*/

    
}